html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;

    /* disallow text zooming on orientation change (non standard property) */
    text-size-adjust: 100%;
}

.title {
  color: $color-dark-gray;
}
