ion-nav-bar .title {
  visibility: hidden;
}

.bar.bar--no-shadow {
  background-image: none;
}

.back-text .previous-title,
.back-text .default-title {
  margin-left: $u-small;
}

.placeholder-icon {
  font-size: 1.6rem;

  &:first-child {
    padding-right: $u-small;
  }
}

.ion-content--alt {
  background: $color-white-gray;
}
