$color-primary: #312450;
$color-secondary: #B74E91;
$color-tiertary: #5052B5;
$color-gray: #DFDFDF;
$color-white-gray: #F8F8F8;
$color-light-gray: #BBB;
$color-medium-gray: #707070;
$color-dark-gray: #555;
$color-black-gray: #1f1f1f;

$color-success: #37D037;
$color-fail: #FFA415;

$color-page-title: #FFF;
$color-nav: darken($color-primary, 10%);

$u-base: 6px;
$u-small: 2 * $u-base;
$u-medium: 4 * $u-base;
$u-large: 8 * $u-base;

$shadow-base: 0.06;
$shadow-l1: 0 1px 3px rgba(0,0,0,$shadow-base), 0 1px 2px rgba(0,0,0,$shadow-base*2);

// font size
$fs-icons: 2.6rem;
