<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive bar--no-shadow">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="avatar button" ng-click="login()">
          {{currentUser.name || 'Non Connecté'}}
          <img class="avatar-image" ng-src="{{currentUser.picture || 'img/user-notLogged.png'}}"/>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu">
    <ion-header-bar class="bar-stable">
      <h1 class="title" ui-sref="app.home" menu-close>Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-hide="currentUser" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close ui-sref="app.travel">
          Voyage
        </ion-item>
        <ion-item menu-close ui-sref="app.transport">
          Mobilité
        </ion-item>
        <ion-item menu-close ui-sref="app.purchase">
          Achat
        </ion-item>

        <ion-item ng-show="currentUser" menu-close ng-click="logout()">
          Se déconnecter
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
