<ion-view view-title="Carte de crédit">
  <ion-content scroll="false">
    <ul class="category-list">
      <li class="page-title">
          Vous avez une CB ...
      </li>
      <li class="category-list__item">
        <a class="category-item" ng-click="setCb('GOLD')">
            <i class="icon ion-card travel-icon gold-cb"></i>
            <div class="travel-item__text">
            Premium
            </div>
        </a>
      </li>
      <li class="category-list__item" >
        <a class="category-item" ng-click="setCb('REGULAR')">
            <i class="icon ion-card travel-icon"></i>
            <div class="travel-item__text">
            Classique
            </div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
