<ion-view view-title="Carte de crédit">
  <ion-content scroll="false">
    <div class="empty-data">
      <i class="empty-data__icon icon ion-settings"></i>
      <p class="empty-data__text" >Cette partie sera présente dans la prochaine livraison</p>
    </div>
  </ion-content>
</ion-view>
