<ion-view view-title="Voyager">
  <ion-content scroll="false">
    <ul class="category-list">
      <li class="page-title">
          Voyager
      </li>
      <li class="category-list__item">
        <a class="category-item" ui-sref="app.travel.cb({type: 'AWAY'})">
            <i class="icon ion-plane travel-icon-rotate"></i>

            <div class="travel-item__text">
            Étranger
            </div>
        </a>
      </li>
      <li class="category-list__item" >
        <a class="category-item" ui-sref="app.travel.cb({type: 'MOUNTAIN'})">
            <img class="travel-img" src="img/icon-mountain.png"/>
            <div class="travel-item__text">
            Ski & Montagne
            </div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
