<ion-view view-title="Accueil">
  <ion-content scroll="false">
    <ul class="category-list">
      <li class="category-list__item">
        <a class="category-item"
           style="background-image: url('img/home-travel.jpg')"
           ui-sref="app.travel">
          <div class="category-item__text">
            Voyager
          </div>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-item"
           style="background-image: url('img/home-mobility.jpg')"
           ui-sref="app.transport">
          <div class="category-item__text">
            Se déplacer
          </div>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-item"
           style="background-image: url('img/home-buying.jpg')"
           ui-sref="app.purchase">
          <div class="category-item__text">
            Acheter
          </div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
