<ion-view view-title="Login">
  <ion-content scroll="false">

    <div class="page-title">
      Login
    </div>

    <div class="page-container">

      <form ng-submit="submit()"  name="loginForm">
        <div class="list">
          <label class="item item-input item-floating-label item--login">
            <span class="input-label">Numéro Client</span>
            <input class="input--login" type="text" ng-model="login.id" placeholder="Numéro Client" ng-required="true">
          </label>
          <label class="item item-input item-floating-label item--login">
            <span class="input-label">Mot de passe</span>
            <input class="input--login" type="password" ng-model="login.password" placeholder="Mot de passe" ng-required="true">
          </label>
        </div>
        <button class="button--umbrella button--login" ng-disabled="loginForm.$invalid" type="submit">
          <span class="button__text">se connecter</span>
          <span class="button__icon"><i class="icon ion-log-in"></i></span>
        </button>
      </form>

    </div>
  </ion-content>
</ion-view>
