<ion-view view-title="Le prix">
  <ion-content scroll="false">
    <ul class="category-list purchase__prices">
      <li class="page-title">
          Le prix de votre {{cat.label}}
      </li>
      <li class="category-list__item purchase__price" ng-repeat="price in cat.prices">
        <a ui-sref="app.result({productId:cat.id})">
          <span class="purchase__price__min price-item__text--price">{{price.min}}<i class="price-item__euro">€</i></span>
          <span class="purchase__price__to price-item__text--post" ng-if="price.max">à</span>
          <span class="purchase__price__max price-item__text--price" ng-if="price.max">{{price.max}}<i class="price-item__euro">€</i></span>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
