<ion-view view-title="Prix">
  <ion-content scroll="false">
    <ul class="category-list">
      <li class="page-title">
          Vous voyage coûte...
      </li>
      <li class="category-list__item">
        <a class="category-item category-item--price" ui-sref="app.travel.cb.price.result({price: 'MIN'})">
          <div class="price-item__text price-item__text--pre">moins de</div>
          <div class="price-item__text price-item__text--price">5000€ </div>
          <div class="price-item__text price-item__text--post">par assuré</div>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-item category-item--price" ui-sref="app.travel.cb.price.result({price: 'MAX'})">
          <div class="price-item__text price-item__text--pre">plus de</div>
          <div class="price-item__text price-item__text--price">5000€ </div>
          <div class="price-item__text price-item__text--post">par assuré</div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
