<ion-view view-title="Achat">

  <ion-content>

    <div class="page-title">
      Achat
    </div>

    <!-- PAGE-ACTIONS -->
    <div class="page-container page-container__fixed">
      <!-- PAGE ACTIONS -->
      <div class="page-actions">
        <a class="page-actions__item button--umbrella" ui-sref="app.purchaseSearch">
          <span class="button__text">rechercher</span>
          <span class="button__icon"><i class="icon ion-search"></i></span>
        </a>

        <button class="page-actions__item button--umbrella" ng-click="scanBarcode()">
          <span class="button__text">code barre</span>
          <span class="button__icon"><i class="icon ion-ios-barcode-outline"></i></span>
        </button>
      </div>

      <!-- CATEGORIES  -->
      <div class="purchase-categories">
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'telephone'})">
            <div class="purchase-category__icon">
              <i class="icon ion-iphone"></i>
            </div>
            <div class="purchase-category__text">
              Téléphone
            </div>
          </a>
        </div>
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'tablette'})">
            <div class="purchase-category__icon">
              <i class="icon ion-ipad"></i>
            </div>
            <div class="purchase-category__text">
              Tablette
            </div>
          </a>
        </div>
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'appareilPhoto'})">
            <div class="purchase-category__icon">
              <i class="icon ion-ios-camera-outline"></i>
            </div>
            <div class="purchase-category__text">
              Appareil Photo
            </div>
          </a>
        </div>
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'ordinateur'})">
            <div class="purchase-category__icon">
              <i class="icon ion-android-laptop"></i>
            </div>
            <div class="purchase-category__text">
              Ordinateur
            </div>
          </a>
        </div>
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'television'})">
            <div class="purchase-category__icon">
              <i class="icon ion-ios-monitor-outline"></i>
            </div>
            <div class="purchase-category__text">
              Télévision
            </div>
          </a>
        </div>
        <div class="purchase-categories__item">
          <a class="purchase-category" ui-sref="app.purchase.price({cat: 'console'})">
            <div class="purchase-category__icon">
              <i class="icon ion-ios-game-controller-b-outline"></i>
            </div>
            <div class="purchase-category__text">
              Consoles de jeux
            </div>
          </a>
        </div>
      </div>
    </div>




  </ion-content>
</ion-view>
