<ion-view view-title="Recherche achats">
  <ion-content>

    <div class="header-search">
      <label class="item item-input item--header-search">
        <i class="icon ion-search placeholder-icon icon--search-result"></i>
        <input class="input--search-result" type="text" placeholder="Search"
          ng-model="searchTerm"
          ng-model-options="{debounce: 300}"
          ng-change="onSearchChange(searchTerm)">
      </label>
    </div>

    <div class="search-results">
      <a class="search-result"
        ng-repeat="product in searchedProducts track by product.id"
        ui-sref="app.result({productId: product.id})">
        <div class="search-result__title" ng-bind-html="product.name | highlight:searchTerm"></div>
        <div class="search-result__subtitle" ng-bind-html="product.category.name + ', ' + product.type | highlight:searchTerm"></div>
      </a>
    </div>
  </ion-content>
</ion-view>
