<ion-view view-title="Transports">
  <ion-content scroll="false">
    <ul class="category-list">
      <li class="page-title">
          Votre type de transport...
      </li>
      <li class="category-list__item">
        <a class="category-item" ui-sref="app.category-empty">
          <i class="icon ion-card transport__icon"></i>
          <div class="transport__item">Louer</div>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-item" ui-sref="app.category-empty">
          <i class="icon ion-ios-people-outline transport__icon"></i>
          <div class="transport__item">Covoiturer</div>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-item" ui-sref="app.category-empty">
          <i class="icon ion-share transport__icon"></i>
          <div class="transport__item">Prêter</div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
