.button--umbrella {
  @extend .reset;

  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-between;
  width: 100%;

  border-radius: 3px;
  background: $color-tiertary;
  color: white;
  white-space: nowrap;

  font-family: 'Roboto';
  font-weight: 300;

  .button__text,
  .button__icon {
    display: block;
  }

  .button__text {
    flex: 1;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;
    padding: $u-small $u-small/2;
  }

  .button__icon {
    font-size: $fs-icons;
    position: relative;
    background: rgba(255, 255, 255, 0.16);
    padding: $u-small $u-small*1.5;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.button--positive {
  background: $color-success;
}

.button--big {

  .button__text {
      font-size: 2.4rem;
      padding: $u-small*1.5;
  }

  .button__icon {
    width: 7rem;
    font-size: 3.5rem;
  }
}
