.menu {
  background-color: $color-nav;
  color: #FFF;

  .bar-header {
    background: none;

    .title {
      color: $color-secondary;
      font-weight: 200;
    }
  }

  .item,
  .item-content {
    background: none;
    border: none;
    color: #FFF;
    font-weight: 200;
  }

  .item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .item-content.activated,
  .menu__item--highlight a {
        background-color: $color-secondary;
        color: white;
        border-top-color: $color-secondary;
  }
}
