.page-title {
  display: block;

  color: $color-page-title;
  background: $color-secondary;
  text-align: center;

  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 300;

  padding: $u-small 0px;
}
