.page-actions {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $color-gray;
}

.page-actions__item {
  flex: 1;
  margin-top: $u-small;
  margin-bottom: $u-small;
  margin-left: $u-small;
}

.page-actions__item:first-child {
  margin-left: 0;
}
