.search-results {
  font-family: 'Roboto';
  padding: 0 $u-small;
}

.search-result {
  @extend .reset;
  color: $color-dark-gray;
  display: block;
  padding: $u-small 0;
  border-bottom: 1px solid $color-gray;
}

.search-result:last-child {
  border: none;
}

.search-result__title {
  font-size: 1.8rem;
  font-weight: 400;
}

.search-result__subtitle {
  font-weight: 300;
  font-size: 1.2rem;
}

.icon--search-result {
  font-size: $fs-icons;
}

.input--search-result {
  font-size: 1.8rem !important;
  line-height: 1 !important;
}
