.category-list {
  font-family: 'Roboto';
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category-list__item {
  display: flex;
  flex: 1;
}

.category-item {
  flex: 1;
  position: relative;
  display: block;
  background-size: cover;
}

.purchase-category__icon {
  font-size: 3em;
}

.category-item__text {
  position: absolute;
  right: $u-medium;
  bottom: $u-medium;
  color: white;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .9);
}
