.input--login {
  border: none;
  border-bottom: 1px solid $color-gray;
}

.item--login {
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 0;
  padding-right: 0;
}

.button--login {
  width: 100%;

  .button__text {
    flex: 1 1;
  }
}
