.purchase-categories {
  display: flex;
  flex-wrap: wrap;
}

.purchase-categories__item {
  flex: 50%;
  height: 160px;
  position: relative;
}

.purchase-category {
  @extend .reset;
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $color-tiertary;
}

.purchase-category__icon i {
  font-size: 7rem;
}

.purchase-category__text {
  margin-top: $u-small;
  font-size: 1.8rem;
  font-weight: 300;
}

.purchase__prices {
  display: flex;
  flex-direction: column;
}

.purchase__price {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }

  .purchase__price__min,
  .purchase__price__max {
    font-size: 3rem;
    margin: 0 $u-small;
  }
}

.price-item__euro {
  font-size: 1.8rem;
  position: relative;
  top: -0.4rem;
}
