.result-header {
  display: flex;
  color: white;

  padding: $u-small;
}

.result-header--covered {
  background: $color-success;
}

.result-header--not-covered {
  background: $color-fail;
}

.result-header__icon {
  font-size: 8rem;
  margin-right: $u-medium;
}

.result-header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-header__coverage {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: $u-small;
}

.title--result--subtext {
  display: block;
  font-size: 1.6rem;
}

.result-header__name {
  font-size: 2.2rem;
  font-weight: 400;
}

.contract__title {
    font-size: 1.4rem;
    color: $color-medium-gray;
    font-weight: 300;

    p {
      margin-bottom: $u-small;
      line-height: 1.2;
    }
}

.contract__lines {
    margin: $u-small 0;
}

.contract__line {
  margin-bottom: $u-small;

  &:last-child {
    margin: 0;
  }
}

.contract__price,
.contract__name {
  font-weight: 400;
  color: $color-primary;
}

.contract__text {
  font-size: 1.5rem;
  color: $color-black-gray;
  font-weight: 500;
}

.contract__name__details,
.contract__more {
  font-size: 1.2rem;
  color: $color-medium-gray;
  font-weight: 300;
  line-height: 1.2;
}

.contract__more {
  margin-top: $u-medium;
}

.contract__subtext {
  font-size: 1.3rem;
  color: $color-dark-gray;
  font-weight: 300;
}

.contract__chip {
  font-size: 2rem;
  color: $color-success;
  padding-right: $u-small/2;
  line-height: 0;
  position: relative;
  top: 0.2rem;
}

.card__footer--contract {
  color: $color-primary;
  text-align: right;
  margin-top: $u-small;
  font-size: 1.5rem;
  font-weight: 300;

  &::after {
    content: "+";
    font-weight: bold;
    margin-left: $u-small;
    font-size: 3rem;
    position: relative;
    top: 3px;
  }
}

.title--result {
    color: $color-medium-gray;
    font-size: 2.7rem;
    font-weight: 200;
    margin: $u-medium 0 $u-small;

    &:first-child {
      margin-top: $u-small;
    }
}

.title--subresult {
  font-size: 1.4rem;
  display: block;
}
