.travel-item__text {
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: $u-medium;
}

.category-item{
    text-align: center;
    color: $color-tiertary;
}

.travel-icon-rotate {
    font-size: 15rem;

    &::before {
        transform: rotate(45deg);
    }
}

.gold-cb {
    color: rgb(255,187,2);
}

.travel-icon {
    font-size: 15rem;

    &:before {
      line-height: 9.4rem;
    }
}

.travel-img {
    max-width: 15rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;


  &--price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.price-item__text {
  text-align: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;

  &--post {
    font-size: 1em;
    font-weight: inherit;
  }

  &--pre {

  }

  &--price {
    color: $color-secondary;
    font-size: 5rem;
    margin: $u-medium 0;
  }
}
